*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    padding: 20px;
}
a {
    margin: 10px;
    color: black;
    font-weight: bolder;
}
a:hover {
    color: blue;
}
.inbox {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
}
.messages {
    display: flex;
    flex-direction: column;
}
.message {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90vw;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 5px;
    cursor: pointer;
}
.name ,.date {
    width: 10%;
}
.date {
    white-space: nowrap;
}
.subject {
    width: 25%;
    white-space: nowrap;
    text-align: left;
    margin-right: 5%;
}
.body {
 width: 20%;
 color: gray;
 text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.line {
    margin-bottom: 20px;
}